/* Use IBM Plex Sans as the font */
body {
    font-family: "IBM Plex Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Adjust container layout */
.container {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 100px 20px; /* Add more top padding to move everything down */
}

/* Style the avatar container */
#avatarCanvas {
    flex: 0 0 35%;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 10px; /* Increase border radius for smoother edges */
}

/* Style the options section */
.options {
    flex: 1 1 auto;
    max-width: 40%;
}

/* Style the labels */
.options label {
    display: block;
    margin-bottom: 12px; /* Adjust margin for better spacing */
    font-weight: bold;
    color: #333; /* Darken the color */
}

/* Style the select inputs and buttons */
.options select, .options button {
    width: 100%;
    margin-bottom: 16px; /* Adjust margin for better spacing */
    padding: 14px; /* Increase padding for better visual appeal */
    border: 2px solid #ddd; /* Adjust border color */
    border-radius: 5px;
    font-size: 16px; /* Increase font size for better readability */
    transition: border-color 0.3s; /* Add transition effect on border color change */
}

/* Style the select inputs and buttons on focus */
.options select:focus, .options button:focus {
    outline: none; /* Remove default focus outline */
    border-color: #1f70c1; /* Change border color on focus */
}

/* Style the checkbox for glasses */
.options input[type="checkbox"] {
    margin-top: 12px; /* Adjust margin for better spacing */
}

/* Style the save button */
.options button {
    background-color: #1f70c1; /* IBM theme blue */
    color: white;
    padding: 14px 24px; /* Adjust padding for larger button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Increase font size for better visual appeal */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.options button:hover {
    background-color: #045cc7; /* Darker blue on hover */
}
