nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}

#navbar {
  width: 100%;
  border-top: 0.0625rem solid #8d8d8d;
  border-bottom: 0.0625rem solid #8d8d8d;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: #111;
  font-weight: bold;
  text-decoration: none;
}

/* Change the link color on navbar hover */
nav li a:not(.active):hover {
  background-color: rgba(201, 201, 201, 0.5);
}

/* Active page on navbar */
.active {
  background-color: #1f70c1;
  color: white;
}