body {
  height: 100vh;
  background-image: url("https://www.ibm.com/design/language/static/e739d9ae7569ae4b0de0e78e74f0a929/3cbba/2306_68_IDL_gallery.png");
  background-repeat: no-repeat;
  background-position: -8rem bottom;
  background-size: 37.5rem;
  background-attachment: fixed;
}

.container {
  text-align: center;
}

h1 {
  text-align: center;
  color: #1f70c1;
  font-size: 3rem;
}

.title h1 {
  display: flex;
  justify-content: center;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.title h1::after {
  content: "";
  width: 0.3125rem;
  height: 3.25rem;
  background: #1f70c1;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
  position: absolute;
  transform: translateX(16.375rem);
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.25rem;
  margin: auto;
  max-width: 67%; /* For expanded container */
}

.status-courses {
  margin: 0.625rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
  width: 25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
  background-color: antiquewhite;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.status-courses.expanded {
  display: flex;
  flex-direction: column;
  width: 100%; /* Expand to 100% of parent container */
}

.hidden {
  display: none;
}

.status-courses h3 {
  text-align: center;
  color: #030b3e;
  font-size: 1.625rem;
  margin: 0.3125rem auto 1.5rem;
}

.close-button {
  position: absolute;
  right: 0;
}

.course-button {
  margin: auto auto 3rem;
}

.status-courses a {
  text-decoration: none;
  color: #1f70c1;
  pointer-events: none; /* Disable link until expanded*/
}


#started-courses {
  background-color: #FEFF9C;
}

#completed-courses {
  background-color: #8ef597;
}

p {
  font-size: 1.125rem;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.lighthover {
  color: #1f70c1;
  pointer-events: none; /* Disable hover effect until expanded */
}

.lighthover:after {
  content: '';
  display: inline-block;
  width: 100%;
  border-bottom: 0.3125rem solid;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0, 1);
}

.lighthover:hover:after {
  opacity: 1;
  transform: scale(1);
}

.button {
  align-items: center;
  appearance: none;
  background-color: #EEF2FF;
  border-radius: 0.5rem;
  border-width: 0.125rem;
  border-color: #1f70c1;
  box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px, rgba(83, 109, 254, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  color: #1f70c1;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 3.5rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1.25rem;
}

.button:focus {
  outline: none;
  box-shadow: #D6D6E7 0 0 0 0.09375rem inset, rgba(83, 109, 254, 0.4) 0 2px 4px, rgba(83, 109, 254, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px, rgba(83, 109, 254, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-0.125rem);
}

.button:active {
  box-shadow: #D6D6E7 0 0.1875rem 0.4375rem inset;
  transform: translateY(0.125rem);
}

.dashboard-button {
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
}

.leaderboard-button {
  position: fixed;
  top: 1.25rem;
  left: 13.125rem;
}

.log-button {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
}

.streak {
  position: absolute;
  top: 4.375rem;
  right: 1.25rem;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
  color: #000000;
  padding: 10px;
  background-color: antiquewhite;
  border: 2px solid #FF0000;
  border-radius: 20px;
}

