h1 {
  text-align: center;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.status-courses {
  margin: 0.625rem;
  padding: 0.625rem;
  border: 0.0625rem solid #000;
  border-radius: 0.3125rem;
  width: 35rem;
  height: 35rem;
  overflow: auto;
}

.status-courses h3 {
  text-align: center;
}

.streak {
  position: absolute;
  top: 50px;
  right: 10px;
  font-weight: bold;
}