/* Use the following code in <head> of your JSP to link the CSS file to the page:
<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}css/global.css">
*/

* {
  box-sizing: border-box;
}

html, body {
  font-family: "IBM Plex Sans";
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #0f62fe;
}

.navbar {
  width: 100%;
  border: 0.0625rem solid #8d8d8d;
  margin: 0;
  padding: 0;
  background-color: #8CA3C9F4;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: #111;
  font-weight: bold;
  text-decoration: none;
}

/* Change the link color on navbar hover */
nav li a:not(.active):hover {
  background-color: rgba(201, 201, 201, 0.5);
}

/* Active page on navbar */
.active {
  background-color: rgba(0, 63, 166, 0.65);
}
